### /etc/systemd/system/air_basistech_net.service ###
[Unit]
Description=Gunicorn instance to serve the Flask application
After=network.target

[Service]
User=temperature_bot
Group=temperature_bot
WorkingDirectory=/opt/temperature-bot/current
Environment="PATH=/opt/temperature-bot/current/venv/bin"
Environment="DB_PATH=/var/db/temperature_bot/temperature-bot.db"
Environment="TEMPERATURE_BOT_INSTANCE=production"
Environment="PERFORMANCE_CLIENT_ID=web"
ExecStart=/bin/bash -c '/opt/temperature-bot/current/venv/bin/gunicorn app.main:app --bind 127.0.0.1:8100 --workers $((2 * $(/usr/bin/nproc) + 1))'
Restart=always
RestartSec=2


[Install]
WantedBy=multi-user.target
