### /etc/systemd/system/air_basistech_net.service ###
[Unit]
Description=Gunicorn instance to serve the Flask application
After=network.target

[Service]
User=simsong
Group=simsong
WorkingDirectory=/home/air/temperature-bot
Environment="PATH=/home/air/temperature-bot/.venv/bin"
ExecStart=/bin/bash -c 'gunicorn app.main:app --reload --host 127.0.0.1 --port 8100 --workers $((2 * $(/usr/bin/nproc) + 1))'
Restart=always
RestartSec=2


[Install]
WantedBy=multi-user.target
