body {
  padding: 2em;
  font-family: sans-serif;
}

table {
  width: 100%;
}

th {
    background-color: beige;
}

td.speed {
    text-align: center;
}

button {
  width: 100%;
  padding: 0.5em;
  font-weight: bold;
}
