<!DOCTYPE html>
<html>
<head>
  <title>Unit Speed Control</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@3.0.0/build/pure-min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>Unit Speed Grid</h1>
      <div id="grid"></div>
    </div>
  </div>

  <footer class="pure-u-1 footer">
  <p>
    &copy; 2025 BasisTech LLC. 
    |
    <a href="/docs">Swagger</a>
    |
    <a href="/redoc">redoc</a>
    |
    <a href="/privacy">Privacy Policy</a>
    |
    <a href="/terms">Terms of Service</a>
    |
    <a href="mailto:simson@example.com">Contact</a>
  </p>
</footer>


  <script src="/static/unit_speed.js"></script>

</body>
</html>
