{% extends 'base.html' %}
{% block title %} Unit Speed Control {% endblock %}
{% block body %}
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>1070 Broadway ERVs</h1>
      <div id="grid"></div>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1">
      <div id="aqi-status">AQI <span id='aqi-value'></span> <span id='aqi-name'></span></div>
      <div id="status"></div>
      <div id='last-update'></div>
      <div id='next-update'></div>
    </div>
  </div>

  {% endblock %}
