{% extends 'base.html' %} {% block title %} About {% endblock%} {% block body %}
<div class="pure-g">
  <div class="pure-u-1">
    <h1>About</h1>
    <p>
      This project is a monitor and controller for the BasisTech HVAC system. It
      is open source and available on
      <a
        href="https://github.com/basistech-llc/temperature-bot/"
        target="_blank"
        >GitHub</a
      >.
    </p>
    <h2>Contact</h2>
    <p>
      For questions or support, please contact us at
      <a href="mailto:simsong@basistech.com">simsong@basistech.com</a>
      or
      <a href="mailto:deg@basistech.com">deg@basistech.com</a>.
    </p>
    <p>
      Or, even better,
      <a
        href="https://github.com/basistech-llc/temperature-bot/issues/new"
        target="_blank"
      >
        file an issue in the project repo</a
      >.
    </p>
    <h2>Privacy Policy</h2>
    <p>
      &ldquo;You have zero privacy anyway. Get over it.&rdquo; ---
      <a href="https://en.wikipedia.org/wiki/Scott_McNealy">
        Scott McNealy, CEO Sun Microsystems, 1999.
      </a>
    </p>

    <h2>Terms of Service</h2>
    <p>You set the terms, we serve.</p>
  </div>
</div>
{% endblock %}
