<!DOCTYPE html><!-- -*- mode: html -*- -->
<html lang="en">
{% set only = request.args.get('only') %}
{% set dist=0 %}
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="temperature"/>
  <meta name="description" content="Website BasisTech Temperature Bot"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} {{title}} {% endblock %}</title>
  <!-- use Pure.css - https://purecss.io/ -->
  {% if dist %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"/>
  {% else %}
  <link rel="stylesheet" href="/static/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"/>
  {% endif %}
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<!--   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="/static/github_menu.js"></script>

  {% block head %}
  {% endblock %}

</head>
<body>
  <header>
  {% if develop %}
  <div class="top-banner">
    <p>🚧 This is the develop site. Please use <a href='https://air.basistech.net/'>
        https://air.basistech.net/</a>.</p>
  </div>
  {% endif %}

  {% if not only %}
  <div class="pure-menu pure-menu-horizontal">
    <a href="." class="pure-menu-heading pure-menu-link">Temperature Bot</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="/chart" class="pure-menu-link">Chart</a>
      </li>
      <li class="pure-menu-item">
        <a href="/buttons" class="pure-menu-link">Buttons</a>
      </li>
      <li class="pure-menu-item">
        <a href="/rules" class="pure-menu-link">Rules</a>
      </li>
      <li class="pure-menu-item">
        <a href="/privacy" class="pure-menu-link">Privacy</a>
      </li>
      <li class="pure-menu-item">
        <a href="/terms" class="pure-menu-link">Terms</a>
      </li>
      <li class="pure-menu-item">
        <a href="mailto:simsong@basistech.com" class="pure-menu-link">Contact</a>
      </li>
      <li class="pure-menu-item">
        <a href="#" id="github-menu-link" class="pure-menu-link">GitHub</a>
        <div id="github-popup" class="github-popup">
          <a href="https://github.com/basistech-llc/temperature-bot/" target="_blank">Repo</a>
          <a href="https://github.com/basistech-llc/temperature-bot/issues/new" target="_blank">Bug Report</a>
        </div>
      </li>
    </ul>
  </div>
  {% endif %}
  </header>

  {% block body %}
  {% endblock %}
  {% if not only %}
  <footer class="pure-u-1 footer">
    <p>
      © 2025 BasisTech LLC.
      |
      <a href="/">App</a>
      |
      <a href="/chart">Chart</a>
      |
      <a href="/rules">Rules</a>
      |
      <a href="/privacy">Privacy Policy</a>
      |
      <a href="/terms">Terms of Service</a>
      |
      <a href="mailto:simsong@basistech.com">Contact</a>
    </p>
  </footer>
  {% endif %}
</body>
</html>
