{% extends 'base.html' %}
{% block title %} Buttons {% endblock %}
{% block body %}

<div class="pure-g"><!-- the start of the pure row -->
  <div id="main"></div>
  <div id="controls">
    <div class="erv-buttons">
      <button id="kitchen-max">Kitchen ERV MAX</button>
      <button id="kitchen-1">Kitchen ERV 1</button>
      <button id="restrooms-max">Restrooms ERV MAX</button>
      <button id="restrooms-1">Restrooms ERV 1</button>
    </div>
  </div>
</div>

<script src="/static/buttons.js"></script>

{% endblock %}
