{% extends 'base.html' %}
{% block title %} Unit Speed Control {% endblock %}
{% block head %}
<link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css" rel="stylesheet">
<script src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
{% endblock %}

{% block body %}
<div class="pure-g"><!-- the start of the pure row -->
  <div class="pure-u-1"><!-- across the entire row -->
  <h1>1070 Broadway</h1>
  </div>
</div>

<div class="pure-g" >
  <div class="pure-u-1 pure-u-md-1-2"><!-- take 1/2 the row on a medium screen -->
    <div id="main-grid" class="maxwidth">
      <form>
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th class="column-unit" rowspan="2">Unit</th>
              <th class="column-temp" id="temp-header" rowspan="2">Temp</th>
              <th class="column-speed" colspan="6">Speed</th>
            </tr>
            <tr>
              <th class="column-speed column-speed-auto">-1</th>
              <th class="column-speed column-speed-off">0</th>
              <th class="column-speed column-speed-low">1</th>
              <th class="column-speed column-speed-mid2">2</th>
              <th class="column-speed column-speed-mid1">3</th>
              <th class="column-speed column-speed-high">4</th>
            </tr>
          </thead>
          <tbody>
            {% for device in devices %}
                          <tr class="device-row" x-data-device-id="{{ device.device_id }}">
              <td class="cell-unit">
                {{ device.device_name }}
                <span id="device-{{ device.device_id }}-status"></span>
                <div class="temporal-links">
                  <a href="/device_log/{{ device.device_id }}?start={{ (now - 86400) | int }}&end={{ now | int }}" target="_blank">day</a>
                  <a href="/device_log/{{ device.device_id }}?start={{ (now - 604800) | int }}&end={{ now | int }}" target="_blank">week</a>
                  <a href="/device_log/{{ device.device_id }}" target="_blank">all</a>
                  <a href="/chart?device_ids={{ device.device_id }}" target="_blank">graph</a>
                </div>
              </td>
              {% if device.temp10x %}
              <td class="cell-temp" id="temp-{{ device.device_id }}">--</td>
              {% else %}
              <td class="cell-temp cell-temp-na">n/a</td>
              {% endif %}
              {% if device.has_speed_control %}
                {% for speed in [-1, 0, 1, 2, 3, 4] %}
                <td class="cell-speed cell-speed-{{ speed }}">
                  <input type="radio" name="fan_speed-{{ device.device_id }}"
                  value="{{ speed }}" id="radio-{{ device.device_id }}-{{ speed }}"
                  x-data-device-id="{{ device.device_id }}"
                  x-data-speed="{{ speed }}"
                  title="Set {{ device.device_name }} to speed {{ speed }}">
                </td>
                {% endfor %}
              {% else %}
              <td class="cell-speed cell-speed-disabled" colspan="6"></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2" id="aqi-weather">
      <div id='aqi'>
	<div id="aqi-status">AQI <span id='aqi-value'></span> <span id='aqi-name'></span></div>
      </div>
      <div id='weather'>
	<div id="status"></div>
	<div id='last-update'></div>
	<div id='next-update'></div>
      </div>
    </div>
    <div class='pure-u-1'>
      <div id='last-refresh'></div>
    </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <h2>Today's Log</h2>
    <div id="log-table"></div>
  </div>
</div>

<script src="/static/unit_speed.js"></script>

{% endblock %}
