{% extends 'base.html' %}
{% block title %} Lighting Time Series {% endblock %}
{% block head %}
{% if dist %}
   <script src="https://cdn.jsdelivr.net/npm/echarts@{{ echarts_version }}"></script>
{% else %}
   <script src="/static/echarts@5"></script>
{% endif %}
<script src="/static/time_series_chart_core.js"></script>
<script src="/static/lighting_chart_support.js"></script>

{% endblock %}
{% block body %}

<div class="pure-g">
  <div id="controls">
    <div id="checkboxes">
      <div id="checkbox-controls">
        <button id="selectAllBtn">Select All</button>
        <button id="clearAllBtn">Clear All</button>
      </div>
    </div>
    <div id="rangeControls" class="temporal-buttons">
      <button id="dayBtn">day</button>
      <button id="weekBtn">week</button>
      <button id="monthBtn">month</button>
      <button id="allBtn">all</button>
      <label>Start <input type="date" id="startDate"></label>
      <label>End <input type="date" id="endDate"></label>
   </div>
  </div>
</div>

<!-- Lighting chart -->
<div class="pure-g"><div id="lighting-chart"></div></div>
<div class="pure-g"><span id="lighting-record-count"></span></div>
<div class="pure-g"><button id="downloadCsv">Download CSV</button></div>

{% endblock %}

