{% extends 'base.html' %}
{% block title %}Activity Log{% endblock %}
{% block head %}
<link href="https://unpkg.com/tabulator-tables@{{ tabulator_version }}/dist/css/tabulator.min.css" rel="stylesheet">
<script src="https://unpkg.com/tabulator-tables@{{ tabulator_version }}/dist/js/tabulator.min.js"></script>
{% endblock %}

{% block body %}
<div class="pure-g">
  <div class="pure-u-1">
    <div id="main-grid" class="logs-grid">
      <h2>Activity Log</h2>
      <div id="log-table"></div>
      <div class="log-controls">
        <button id="log-show-more" class="pure-button">Show more</button>
        <span id="log-range-summary" class="log-range-summary"></span>
      </div>
    </div>
  </div>
</div>

<script src="/static/logs_today.js"></script>
{% endblock %}

